/* app/globals.css */
@import "tailwindcss";

:root {
  /* Theme colors */
  --background: #EBF7F5; /* Light teal background */
  --foreground: #171717;
  /* Custom background colors */
  --primary-bg: #1a73e8; /* Blue */
  --secondary-bg: #f4f4f9; /* Light Gray */
  --accent-bg: #FF2E53; /* Bright red */
  --dark-bg: #333333; /* Dark Gray */
  --success-bg: #34c759; /* Green */
  /* Navigation text color */
  --nav-text: #181C31;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins); /* Use Poppins from layout.tsx */
}

body {
  background: var(--background); /* Applies #EBF7F5 globally */
  color: var(--foreground);
  font-family: var(--font-sans); /* Applies Poppins globally */
}